* {
  font-size: 10px;
  font-family: "Varela Round", sans-serif;
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  background-color: #8590aa;
}

.navi_box {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #b23850;
  color: white;
  width: 100%;
  height: 5rem;
  z-index: 10;
}

.section_logo {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.section_navi {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.button {
  background-color: transparent;
  border: none;
  width: auto;
  color: white;
}

.button:hover {
  color: #3b8beb;
  font-weight: bolder;
}

.lobby_sec {
  width: 100%;
  position: relative;
  text-align: center;
}

.lobby_img {
  width: 100%;
  height: auto;
  position: relative;
}

.lobby_text {
  font-family: "Dongle", sans-serif;
  width: auto;
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 3rem;
  text-align: center;
  color: white;
  text-shadow: #ffffff 1px 0 10px;
  z-index: 5;
}

.section_box {
  width: auto;
  height: auto;
}

.section_box_intro {
  width: auto;
  height: auto;
}

.title {
  display: block;
  margin: 0px auto;
  padding: 8rem 5rem 1rem 3rem;
  font-family: inherit;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 4px 2px gray;
  color: #e7e3d4;
}

.intro_img {
  display: block;
  margin: 0px auto;
  padding: 1rem 5rem 1rem 5rem;
  width: 30%;
  text-align: center;
}

.intro_text {
  padding: 1rem 5rem;
  width: auto;
  height: auto;
  font-size: 2rem;
  font-family: "Dongle", sans-serif;
  color: #e7e3d4;
}

.intro_member {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 5rem;
  height: 70%;
}

.intro_member_content {
  border-radius: 10px;
  background-color: #e7e3d4;
  border-radius: 5%;
  width: auto;
  height: 25rem;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  font-family: "Dongle", sans-serif;
  font-size: 3rem;
}

.member{   
  width: 150px;  
  height: 168px;
  object-fit: cover;
}

.history_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history_box {
  display: flex;
  justify-content: center;
  width: 300px;
  border: 1px solid #e7e3d4;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
  color: black;
  background-color: #e7e3d4;
}

.gallery_box {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery_img {
  position: relative;
  overflow: hidden;
  margin: 1rem;
  width: 300px;
  height: 200px;
  text-align: center;
}

.gallery_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media_box {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.media {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  width: 300px;
  height: 200px;
}

.media_movie {
  width: auto;
  height: 150px;
}

.media_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #e7e3d4;
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.info_box {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info_box_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 500px;
  margin: 1rem;
  background-color: #e7e3d4;
  border-radius: 10px;
}

.info_box_title {
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  text-align: center;
  color: #b23850;
}

.info_box_thum {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  text-align: center;
}

.info_box_desc {
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 3rem 0.5rem;
}

.info_box_thum img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info_box_site {
  width: 100%;
  height: 25%;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media only screen and (max-width: 480px) {
  .navi_box {
    position: sticky;
    top: 0;
    padding: 0;
    background-color: #b23850;
    color: white;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_logo {
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .section_navi {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}