* {
  font-size: 10px;
  font-family: "MaplestoryOTFLight";
  margin: 0;
}

@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaplestoryOTFLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  /* 글목록이 아래에서 위로 올라오는 기능 ... 효과가 있나? */
  from {
    opacity: 0;
    tranform: translateY(20px);
  }
  to {
    opacity: 3;
    transform: none;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  background-color: #8590aa;
  animation: fadeIn 0.5s ease-in-out;
}

.navi_box {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  background-color: #b23850d3;
  color: white;
  width: 100%;
  height: 5rem;
  z-index: 10;
}

.section_logo {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.section_logo:hover {
  color: #3b8beb;
  font-weight: bolder;
  cursor: pointer;
}

.section_navi {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.button1 {
  background-color: transparent;
  border: none;
  width: auto;
  color: white;
  font-size: 1.3rem;
}

.button1:hover {
  color: #3b8beb;
  font-weight: bolder;
  cursor: pointer;
}

.lobby_sec {
  width: 100%;
  position: relative;
  text-align: center;
  position: relative;
}

.lobby_img {
  width: 100%;
  height: auto;
}

.lobby_text {
  font-family: "MaplestoryOTFBold";
  width: auto;
  position: absolute;
  top: 80%;
  left: 30%;
  margin: 0;
  transform: translate(-20%, -70%);
  font-size: 2.5rem;
  color: white;
  z-index: 5;
}

.section_box {
  /*이 코드도 거의 유명 무실.. 나중에 삭제할것 */
  width: auto;
  height: auto;
}

/* 아래는 안쓰는 것 같다. 
.section_box_intro {
  width: auto;
  height: auto;
}*/

.title {
  display: block;
  margin: 0px auto;
  padding: 8rem 5rem 1rem 3rem;
  font-family: inherit;
  font-size: 3rem;
  text-align: center;
  color: #e7e3d4;
}

.intro_img {
  display: block;
  margin: 0px auto;
  padding: 1rem 5rem 1rem 5rem;
  width: 30%;
  text-align: center;
}

.intro_text {
  padding: 1rem 5rem;
  width: auto;
  height: auto;
  /*font-family: "Dongle", sans-serif;*/
  font-family: "MaplestoryOTFLight";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #e7e3d4;
}

.intro_member {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 5rem;
  height: 70%;
}

.intro_member_content {
  border-radius: 10px;
  background-color: #e7e3d4;
  border-radius: 5%;
  width: auto;
  height: 25rem;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  /*font-family: "Dongle", sans-serif;*/
  font-family: "MaplestoryOTFLight";
  font-size: 2.5rem;
}

.member {
  width: 150px;
  height: 168px;
  object-fit: cover;
}

#history_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history_box {
  display: flex;
  justify-content: center;
  width: 330px;
  border: 1px solid #e7e3d4;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
  /*font-family: "Dongle", sans-serif;*/
  font-family: "MaplestoryOTFLight";
  font-size: 1.5rem;
  line-height: 2rem;
  color: black;
  background-color: #e7e3d4;
}

.gallery_box {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery_img {
  position: relative;
  overflow: hidden;
  margin: 1rem;
  width: 300px;
  height: 200px;
  text-align: center;
}

.gallery_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media_box {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.media {
  display: inline-block;
  text-align: center;
  margin: 1rem;
  width: 300px;
  height: 200px;
}

.media_movie {
  width: auto;
  height: 150px;
}

.media_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #e7e3d4;
  /*font-family: "Dongle", sans-serif;*/
  font-family: "MaplestoryOTFLight";
  font-size: 1.5rem;
  text-align: center;
}

.info_box {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info_box_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 500px;
  margin: 1rem;
  background-color: #e7e3d4;
  border-radius: 10px;
}

.info_box_title {
  /*font-family: "Dongle", sans-serif;*/
  font-family: "MaplestoryOTFBold";
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  text-align: center;
  color: #b23850;
}

.info_box_thum {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  text-align: center;
}

.info_box_desc {
  /*font-family: "Dongle", sans-serif;*/
  font-family: "MaplestoryOTFLight";
  font-size: 2rem;
  text-align: center;
  padding: 3rem 0.5rem;
}

.info_box_thum img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info_box_site {
  width: 100%;
  height: 25%;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media only screen and (max-width: 480px) {
  .navi_box {
    position: sticky;
    top: 0;
    padding: 0;
    background-color: #b23850d3;
    color: white;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_logo {
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .section_navi {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .title {
    font-size: 2rem;
  }
}