* {
  font-size: 10px;
  font-family: "MaplestoryOTFLight";
  margin: 0;
}

@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaplestoryOTFLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  /* 글목록이 아래에서 위로 올라오는 기능 ... 효과가 있나? */
  from {
    opacity: 0;
    tranform: translateY(20px);
  }
  to {
    opacity: 3;
    transform: none;
  }
}

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@900&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  /*  background-color: #f38181;*/
  animation: fadeIn 0.5s ease-in-out;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/*배경이미지 애니메이션 효과*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navi_box {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #95e1d3;
  height: 5rem;
  z-index: 5;
}

.section_logo {
  display: flex;
  align-items: center;
  color: #f38181;
  padding: 2rem;
  font-size: 3rem;
  font-weight: bolder;
  font-family: "M PLUS 1", sans-serif;

  /*글자 애니메이션시키기 */
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    /*#231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%*/ #95e1d3 0%,
    #f38181 29%,
    #fce38a 67%,
    #eaffd0 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /*text-fill-color: transparent;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  /*display: inline-block;
  /*font-size: 190px;*/
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.section_logo:hover {
  font-weight: bolder;
  cursor: pointer;
}

.section_navi {
  display: flex;
  justify-content: space-evenly;
  /*width: 100%;
  margin: 0;
  padding: 0;*/
}

.burger {
  display: none;
}

.button1 {
  background-color: transparent;
  border: none;
  color: #eaffd0;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.2rem 1rem;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

.button1:hover {
  color: #fce38a;
  font-weight: bolder;
  cursor: pointer;
}

/*로비(제일 첫번째 페이지)를 치장하는 곳이다*/
.lobby_sec {
  position: relative;
  width: 100%;
  text-align: center;
}

.lobby_img {
  width: 100%;
  height: auto;
}

.lobby_text {
  font-family: "MaplestoryOTFBold";
  width: auto;
  position: absolute;
  top: 80%;
  left: 40%;
  margin: 0;
  transform: translate(-30%, -80%);
  font-size: 2.5rem;
  color: #eaffd0;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  z-index: 3;
}

.section_box {
  /*이 코드도 거의 유명 무실.. 나중에 삭제할것 */
  width: auto;
  height: auto;
}

/* 아래는 안쓰는 것 같다. 
.section_box_intro {
  width: auto;
  height: auto;
}*/

.title {
  display: block;
  margin: 0px auto;
  padding: 12rem 5rem 2rem;
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  color: #fce38a;
  /* text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;*/
}

.intro_img {
  display: block;
  margin: 0px auto;
  padding: 1rem 5rem 1rem 5rem;
  width: 30%;
  text-align: center;
  border-radius: 50%;
}

.intro_text {
  padding: 2rem 5rem 5rem;
  width: auto;
  height: auto;
  font-family: "MaplestoryOTFLight";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #eaffd0;
}

.intro_member {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem 5rem;
  height: 70%;
}

.intro_member_content {
  border-radius: 10px;
  background-color: #eaffd0;
  color: #f38181;
  border-radius: 5%;
  width: auto;
  height: 25rem;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  /*font-family: "Dongle", sans-serif;*/
  font-family: "MaplestoryOTFLight";
  font-size: 2.5rem;
}

.member {
  width: 150px;
  height: 168px;
  object-fit: cover;
}

.name {
  font-size: 1.7rem;
  padding: 1rem 0px 0px 0px;
}

.nickname {
  padding: 1rem 0px 0px 0px;
  font-size: 1.4rem;
}

#history_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history_box {
  display: flex;
  justify-content: center;
  width: 330px;
  border: 1px solid #eaffd0;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
  /*font-family: "Dongle", sans-serif;*/
  font-family: "MaplestoryOTFLight";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #f38181;
  background-color: #eaffd0;
}

.gallery_box {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery_img {
  position: relative;
  overflow: hidden;
  margin: 1rem;
  width: 300px;
  height: 200px;
  text-align: center;
  border-radius: 10%;
}

.gallery_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media_box {
  padding: 2rem 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.media {
  display: inline-block;
  text-align: center;
  margin: 1rem;
}

.media_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #eaffd0;
  font-family: "MaplestoryOTFLight";
  font-size: 1.5rem;
  text-align: center;
}

.info_box {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info_box_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 400px;
  margin: 1rem;
  padding: 1rem;
  background-color: #eaffd0;
  border-radius: 10px;
}

.info_box_title {
  font-family: "MaplestoryOTFBold";
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  text-align: center;
  color: #f38181;
}

.info_box_thum {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  text-align: center;
}

.info_box_desc {
  font-family: "MaplestoryOTFLight";
  color: #f38181;
  font-size: 1.5rem;
  text-align: center;
  padding: 3rem 0.5rem;
}

.info_box_thum img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info_box_site {
  width: 100%;
  height: 25%;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.footer {
  display: block;
  margin: 1rem;
  padding: 3rem;
  text-align: center;
  color: #eaffd0;
}

@media only screen and (max-width: 480px) {
  .navi_box {
    position: sticky;
    top: 0;
    padding: 0;
    background-color: #95e1d3;
    color: #fce38a;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_logo {
    padding: 1rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }

  .section_navi {
    display: none;
    flex-direction: column;
  }

  .button1 {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .button1:hover {
    background-color: #f38181;
  }

  .burger {
    display: block;
    color: #eaffd0;
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .material-symbols-outlined {
    font-size: 30px;
  }

  .title {
    font-size: 3rem;
  }

  .lobby_text {
    font-size: 2rem;
  }

  .section_navi.active {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    max-width: 1024px;
    margin: auto;
  }
}

/*여기부터는 방명록이다!*/
.guestBook {
  padding: 1rem;
  width: auto;
  height: auto;
}